{% extends 'base.html.twig' %}

{% block title %}{{ user.name }}'s Profile{% endblock %}

{% block body %}

    <h1>{{ user.name }}'s Profile</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Naam</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>E-mail </th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <th>Birthday </th>
            <td>{{ user.birthday ? user.birthday|date('Y-m-d') : ''  }}</td>
        </tr>
        <tr>
            <th>Playstation ID </th>
            <td>{{ user.playstation }}</td>
        </tr>
        <tr>
            <th>Nintendo Network ID </th>
            <td>{{ user.nintendo }}</td>
        </tr>
        <tr>
            <th>X-box Live </th>
            <td>{{ user.xbox }}</td>
        </tr>
        <tr>
            <th>Twitter </th>
            <td>{{ user.twitter }}</td>
        </tr>
        <tr>
            <th>Discord </th>
            <td>{{ user.discord }}</td>
        </tr>
        <tr>
            <th>Facebook </th>
            <td>{{ user.facebook }}</td>
        </tr>

        </tbody>
    </table> <br/>

    <td><a href="{{ path('posts_new', {'user_id': user.id}) }}">New post</a></td> <br/>

    <h1>{{ user.name }}'s Posts</h1> <br/>

    <table class="table table-bordered mb-0">
    <thead class="thead-light">
    <tr>
        <th>Text</th>
        <th>Date/Time</th>
        {% if app.user.isSuper == "1" or user.id == 'user_id'%}

            <th>Admin actions</th>
        {% endif %}
        <th>Show</th>
    </tr>
    </thead>
    <tbody>

    {% for posts in user.posts %}
<tr>
    <td>{{ posts.text }}</td>
    <td>{{ posts.created ? posts.created|date('Y-m-d H:i:s') }}</td>


    {% if (app.user.isSuper == "1") or (app.user.id == 'user_id') %}


        <td><a href="{{ path('profile_edit', {'id': user.id}) }}">Edit</a></td> <br/>

    {% endif %}
    <td><a href="{{  path('posts_show', {'id': posts.id}) }}">Show</a></td> <br/>
    {% endfor %}

    <a href="{{ path('home') }}">Back to home</a>


{% endblock %}