{% extends 'base.html.twig' %}

{% block title %}{{ chats.user1.name }}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 style="text-align:center;"> Chat with {{ chats.user1.name }} </h1>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">

                {% for message in chatmessages %}

                    {{ message.user2.name }} <br/>
                    {{ message.text }} <br/>
                    {{ message.created ? message.created|date('Y-m-d H:i:s') }} <br/> <br/>

                {% endfor %}
                {{ include('chats/form.html.twig') }}
                <br/>
                <a href="{{ path('friendinbox',{'id': app.user.id}) }}">Back to inbox</a>
        </div>
    </div>
{% endblock %}