<!doctype html>
<html lang="en">
<head>


    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">

    <!-- App css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

    <script src="{{ asset('js/modernizr.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/6792bd6f69.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>


</head>

<body>

<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom" style="background-color: #6f2267!important;">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    {% if app.user == false %}
                    <li class="has-submenu">
                        <a href="{{ path('security_register') }}">Register</a>
                    </li>
                    {% endif %}
                    {% if app.user %}

                    <li class="has-submenu">
                        <a href="{{ path('profile_show',{'id': app.user.id}) }}">Profile</a>
                    </li>


                    <li class="has-submenu">
                        <a href="{{ path('friends') }}">Search Users/Posts</a>
                    </li>


                    <li class="has-submenu">
                        <a href="{{ path('friendinbox',{'id': app.user.id}) }}">Inbox</a>
                    </li>

                    <li class="has-submenu">
                        <a href="{{ path('security_logout') }}">Logout</a>
                    </li>
                    {% endif %}

                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->

{#{% if app.user %}#}
{#<form method="post" action="{{ path('') }}">#}
{#    <label for="searchvalue">Search numbers:</label><br>#}
{#    <input type="text" id="searchvalue" name="searchvalue"><br><br>#}
{#    <input type="submit" value="Search">#}
{#    {% endif %}#}
{#</form>#}
<div class="wrapper">
<div class="container" style="">
{% block body %}

{% endblock %}
</div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2018 - 2019 © Highdmin. <span class="d-none d-sm-inline-block"> - Coderthemes.com</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!-- jQuery  -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/waves.js') }}"></script>
<script src="{{ asset('js/jquery.slimscroll.js') }}"></script>

<!-- App js -->
<script src="{{ asset('js/jquery.core.js') }}"></script>
<script src="{{ asset('js/jquery.app.js') }}"></script>

</body>
</html>