{% extends 'base.html.twig' %}

    {% block title %}Musicplaza Home{% endblock %}

{% block body %}

            <!-- Page-Title -->
            <div class="page-header" style="text-align:center;">
                <h1>Home</h1>
            </div>
            {% if app.user %}
                <div class="mb-3" style="text-align:center;">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('security_logout') }}">Logout</a>
                </div>
            {% endif %}
            <!-- end page title end breadcrumb -->




    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}


        {% set counterVariable = 1 %}
    {% for post in friendPosts|sort((a, b) => b.created <=> a.created) %}

            {% if counterVariable == 1 %}
                <div class="container" style="padding-right:52.5%;">
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #80507b!important;">
                            Creator:  <a href="{{  path('profile_show', {'id': post.user.id}) }}" style="color:#6f2267;">{{ post.user.name }}</a>
                            <img src="{{ asset('images/profilepictures/' ~ post.user.profilepicture) }}" alt="No profile picture found." style="max-width: 75px; max-height:100px;">
                        </div>
                        <div class="card-body">

                            <p class="card-text">{{ post.text }}</p>
                            {% if post.link == true %}
                                <iframe width="90%"
                                        src="{{ post.link }}">
                                </iframe> <br/>
                            {% endif %}
                            <a href="{{  path('posts_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="card-footer text-muted" style="background-color: #80507b!important;">
                            {{ post.created ? post.created|date('Y-m-d H:i:s') }}
                        </div>

                    </div> <br/>
                </div>

        {% set counterVariable = 2 %}

            {% elseif counterVariable == 2 %}

                <div class="container" style="padding-left:52.5%">
                <div class="card text-center">
                    <div class="card-header" style="background-color: #80507b!important;">
                        Creator:  <a href="{{  path('profile_show', {'id': post.user.id}) }}" style="color:#6f2267;">{{ post.user.name }}</a>
                        <img src="{{ asset('images/profilepictures/' ~ post.user.profilepicture) }}" alt="No profile picture found." style="max-width: 75px; max-height:100px;">
                    </div>
                    <div class="card-body">

                        <p class="card-text">{{ post.text }}</p>
                        {% if post.link == true %}
                            <iframe width="90%"
                                    src="{{ post.link }}">
                            </iframe> <br/>
                        {% endif %}
                        <a href="{{  path('posts_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="card-footer text-muted" style="background-color: #80507b!important;">
                        {{ post.created ? post.created|date('Y-m-d H:i:s') }}
                    </div>
                </div> <br/>
                </div>

        {% set counterVariable = '1' %}

        {% endif %}
    {% endfor %}

{#
    <div class="container" style="padding-right:52.5%;">
        <div class="card text-center">
            <div class="card-header" style="background-color: #80507b!important;">
                Creator:  <a href="{{  path('profile_show', {'id': post.user.id}) }}" style="color:#6f2267;">{{ post.user.name }}</a>
                <img src="{{ asset('images/profilepictures/' ~ post.user.profilepicture) }}" alt="No profile picture found." style="max-width: 75px; max-height:100px;">
            </div>
            <div class="card-body">

                <p class="card-text">{{ post.text }}</p>
                {% if post.link == true %}
                    <iframe width="90%"
                            src="{{ post.link }}">
                    </iframe> <br/>
                {% endif %}
                <a href="{{  path('posts_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
            </div>
            <div class="card-footer text-muted" style="background-color: #80507b!important;">
                {{ post.created ? post.created|date('Y-m-d H:i:s') }}
            </div>
        </div> <br/>
    </div>
#}

{#    <div class="container py-2">
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-success">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card text-center"  style="padding-left:52%;">
                    <div class="card-header" style="background-color: #80507b!important;">
                        Creator:  <a href="{{  path('profile_show', {'id': post.user.id}) }}" style="color:#6f2267;">{{ post.user.name }}</a>
                        <img src="{{ asset('images/profilepictures/' ~ post.user.profilepicture) }}" alt="No profile picture found." style="max-width: 75px; max-height:100px;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.text }}</p>
                        {% if post.link == true %}
                            <iframe width="90%"
                                    src="{{ post.link }}">
                            </iframe> <br/>
                        {% endif %}
                        <a href="{{  path('posts_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="card-footer text-muted" style="background-color: #80507b!important;">
                        {{ post.created ? post.created|date('Y-m-d H:i:s') }}
                    </div>

                </div>
            </div>
        </div> <br/>
    </div>#}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    2018 - 2019 © Highdmin. <span class="d-none d-sm-inline-block"> - Coderthemes.com</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- jQuery  -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/waves.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('js/jquery.core.js') }}"></script>
    <script src="{{ asset('js/jquery.app.js') }}"></script>

{% endblock %}