{% extends 'base.html.twig' %}

    {% block title %}Musicplaza Home{% endblock %}

{% block body %}

            <!-- Page-Title -->
            <div class="page-header" style="text-align:center;">
                <h1>Home</h1>
            </div>
            {% if app.user %}
                <div class="mb-3" style="text-align:center;">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('security_logout') }}">Logout</a>
                </div>
            {% endif %}
            <!-- end page title end breadcrumb -->



    <div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}



    {% for post in friendPosts %}
                <div class="card text-center">
                    <div class="card-header" style="background-color: #80507b!important;">
                        Creator:  <a href="{{  path('profile_show', {'id': post.user.id}) }}" style="color:#6f2267;">{{ post.user.name }}</a>
                        <img src="{{ asset('images/profilepictures/' ~ post.user.profilepicture) }}" alt="No profile picture found." style="max-width: 75px; max-height:100px;">
                    </div>
                    <div class="card-body">

                        <p class="card-text">{{ post.text }}</p>
                        {% if post.link == true %}
                        <iframe width="400" height="200"
                                src="{{ post.link }}">
                        </iframe> <br/>
                        {% endif %}
                        <a href="{{  path('posts_show', {'id': post.id}) }}"><i class="fas fa-eye"></i></a>
                    </div>
                    <div class="card-footer text-muted" style="background-color: #80507b!important;">
                        {{ post.created ? post.created|date('Y-m-d H:i:s') }}
                    </div>
                </div> <br/>
    {% endfor %}

{#    {% for friends in app.user.recipient %}#}
{#    {% if friends.acceptCheck == "1" %}#}
{#        {% for posts in friends.sender.posts %}#}
{#            {% if app.user.id is not same as (friends.sender.id) %}#}
{#                <div class="card text-center">#}
{#                    <div class="card-header" style="background-color: #80507b!important;">#}
{#                       Creator:  <a href="{{  path('profile_show', {'id': posts.user.id}) }}" style="color:#6f2267;">{{ posts.user.name }}</a>#}
{#                        <img src="{{ asset('images/profilepictures/' ~ posts.user.profilepicture) }}" alt="No profile picture found." style="max-width: 100px; max-height:100px;">#}
{#                    </div>#}
{#                    <div class="card-body">#}

{#                        <p class="card-text">{{ posts.text }}</p>#}
{#                        <a href="{{  path('posts_show', {'id': posts.id}) }}"><i class="fas fa-eye"></i></a>#}
{#                    </div>#}
{#                    <div class="card-footer text-muted" style="background-color: #80507b!important;">#}
{#                        {{ posts.created ? posts.created|date('Y-m-d H:i:s') }}#}
{#                    </div>#}
{#                </div> <br/> <br/>#}

{#            {% endif %}#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#    {% endfor %}#}

    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    2018 - 2019 © Highdmin. <span class="d-none d-sm-inline-block"> - Coderthemes.com</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- jQuery  -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/waves.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('js/jquery.core.js') }}"></script>
    <script src="{{ asset('js/jquery.app.js') }}"></script>

{% endblock %}